<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  
  <servlet>
  	<servlet-name>log_in</servlet-name>
  	<servlet-class>com.smha.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>log_in</servlet-name>
  	<url-pattern>/log_in</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>create_user</servlet-name>
  	<servlet-class>com.smha.CreateUserServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>create_user</servlet-name>
  	<url-pattern>/create_user</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>payment</servlet-name>
  	<servlet-class>com.smha.PaymentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>payment</servlet-name>
  	<url-pattern>/payment</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>log_out</servlet-name>
  	<servlet-class>com.smha.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>log_out</servlet-name>
  	<url-pattern>/log_out</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>add_to_cart</servlet-name>
  	<servlet-class>com.smha.AddToCartServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>add_to_cart</servlet-name>
  	<url-pattern>/add_to_cart</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>view_cart</servlet-name>
  	<servlet-class>com.smha.ViewCartServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>view_cart</servlet-name>
  	<url-pattern>/view_cart</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>remove_from_cart</servlet-name>
  	<servlet-class>com.smha.RemoveFromCartServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>remove_from_cart</servlet-name>
  	<url-pattern>/remove_from_cart</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>show_payment</servlet-name>
  	<servlet-class>com.smha.ShowPaymentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>show_payment</servlet-name>
  	<url-pattern>/show_payment</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>view_purchased_tickets</servlet-name>
  	<servlet-class>com.smha.ViewPurchasedTicketsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>view_purchased_tickets</servlet-name>
  	<url-pattern>/view_purchased_tickets</url-pattern>
  </servlet-mapping>
</web-app>